@import "tailwindcss/base";

@import "tailwindcss/components";

html {
    font-size: 14px;
}

@media (min-width: 768px) { 
    html {
        font-size: 16px;
    }
}


/* Links */
a {
    @apply text-orange-600;
}

a:hover {
    @apply text-green-600;
}

/* Buttons */
.btn {
    @apply bg-gray-200;
    @apply px-3;
    @apply py-1;
    @apply rounded;
    @apply border-gray-100;
    @apply mx-1;
}

.btn:hover {
    @apply bg-gray-400;
}

@media (min-width: 768px) { 
    .btn {
        @apply px-6;
        @apply py-2;
    }
}

.btn-primary {
    @apply bg-green-200;
    @apply px-3;
    @apply py-1;
    @apply rounded;
    @apply border-gray-100;
    @apply mx-1;
}

.btn-primary:hover {
    @apply bg-green-400;
}

@media (min-width: 768px) { 
    .btn-primary {
        @apply px-6;
        @apply py-2;
    }
}

.btn-secondary {
    @apply bg-gray-200;
    @apply px-3;
    @apply py-1;
    @apply rounded;
    @apply border-gray-100;
    @apply mx-1;
}

.btn-secondary:hover {
    @apply bg-gray-400;
}

@media (min-width: 768px) { 
    .btn-secondary {
        @apply px-6;
        @apply py-2;
    }
}

.btn-toolbar {
    @apply bg-gray-200;
    @apply p-1;
    @apply rounded;
    @apply border-gray-100;
    @apply mx-1;
}

.btn-toolbar:hover {
    @apply bg-gray-400;
}

@media (min-width: 768px) { 
    .btn-toolbar {
        @apply p-2;
    }
}

.btn-icon {
    @apply text-sm;

    @apply mx-1;
}

@media (min-width: 768px) { 
    .btn-icon {
        @apply p-3;
        @apply rounded;
        @apply border-gray-100;
        @apply bg-gray-200;
    }
}

.btn-icon:hover {
    @apply bg-gray-400;
}

/* Forms */
.text-input {
    @apply border;
    @apply border-gray-500;
    @apply rounded;
    @apply px-2;
    @apply leading-8;
}

.text-input:focus {
    @apply outline-none;
    @apply border-blue-300;
}

input:invalid {
    @apply border-red-400;
}

/* Table */
table {
    @apply rounded;
    @apply shadow;
}

th, td {
    @apply px-2;
    @apply py-1;
}

th {
    @apply bg-gray-200;
    @apply text-left;
    @apply font-medium;
    @apply border-b;
    @apply border-gray-300;
}

td {
    @apply bg-gray-100;
    @apply border-b;
    @apply border-gray-300;
}

@media (min-width: 768px) { 
    th, td {
        @apply px-4;
        @apply py-2;
    }
}

@import "tailwindcss/utilities";